<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ==================================================================== -->
<!-- This config file is intended to be used by a SocketServer that logs  -->
<!-- events received from various clients on the console and to a file    -->
<!-- that is rolled over when appropriate. The interesting point to note  -->
<!-- is that it is a configuration file like any other.                   -->   
<!-- ==================================================================== -->

<log4j:configuration debug="true" 
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %-5p [%t] %c - %m%n"/>
    </layout>
    
  </appender>
    
  <appender name="LF5Appender" class="org.apache.log4j.lf5.LF5Appender">
    <param name="MaxNumberOfRecords" value="1000"/>     
  </appender>
    
 <appender name="FILE"
    class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${GalaxyLogDir}/GalaxyLogs/IBSecurity.log" />
    <param name="Append" value="true" />
    <param name="Encoding" value="UTF-8" />
    <param name="MaxFileSize" value="10024KB" />    
    <param name="MaxBackupIndex" value="10" />

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss,SSSZ} %-5r %-5p [%c] (%t:%x) %m%n" />
    </layout>
  </appender>
  
  <appender name="WURFLFILE"
    class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${GalaxyLogDir}/GalaxyLogs/IBActivityLog.log" />
    <param name="Append" value="true" />
    <param name="Encoding" value="UTF-8" />
    <param name="MaxFileSize" value="10024KB" />    
    <param name="MaxBackupIndex" value="10" />

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss,SSSZ} %-5r %-5p [%c] (%t:%x) %m%n" />
    </layout>
  </appender>
  
  <logger name="net.sourceforge.wurfl.core">
        <level value="INFO"/>
        <appender-ref ref="WURFLFILE"/>
  </logger>
    
  <root>
    <level value="OFF"/>
    <appender-ref ref="FILE" />
  </root>  

</log4j:configuration>



