<settings>
    <servers>
        <server>
            <id>deploy-repo</id>
            <username>${nexus.user}</username>
            <password>${nexus.password}</password>
        </server>
        <server>
            <id>nexus-snapshots</id>
            <username>${nexus.user}</username>
            <password>${nexus.password}</password>
        </server>

    </servers>

    <mirrors>
        <mirror>
            <id>mirror</id>
            <mirrorOf>*</mirrorOf>
            <url>http://nexus.sandbox.extranet.group/nexus/content/groups/maven</url>
        </mirror>
    </mirrors>


    <profiles>
        <profile>
            <id>laptop</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sandbox.environment>sbdev</sandbox.environment>
            </properties>

        </profile>
    </profiles>
</settings>